---
http_interactions:
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<EDAMAM_APP_ID>&app_key=<EDAMAM_APP_KEY>&q=%20&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 14 Nov 2023 01:02:36 GMT
- request:
    method: get
    uri: https://api.edamam.com/api/recipes/v2?app_id=<EDAMAM_APP_ID>&app_key=<EDAMAM_APP_KEY>&q=asdfjaioefjiowe&type=public
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
      Content-Language:
      - en
    body:
      encoding: UTF-8
      string: '{"from":1,"to":0,"count":0,"_links":{},"hits":[]}'
  recorded_at: Tue, 14 Nov 2023 01:02:36 GMT
recorded_with: VCR 6.2.0
