---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=thailand&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "P9FO7eWO4dZBjoRO6U32X0y5yqc",
          "nextPageToken": "CAEQAA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 10,
            "resultsPerPage": 1
          },
          "items": [
            {
              "kind": "youtube#searchResult",
              "etag": "APnLNQUOcId7WPkalVJ9BusiMSw",
              "id": {
                "kind": "youtube#video",
                "videoId": "uw8hjVqxMXw"
              },
              "snippet": {
                "publishedAt": "2021-08-29T10:13:10Z",
                "channelId": "UCluQ5yInbeAkkeCndNnUhpw",
                "title": "A Super Quick History of Laos",
                "description": "Audio Requiring Attribution: LukeIRL: https://freesound.org/people/LukeIRL/sounds/176134/ RTB45: ...",
                "thumbnails": {
                  "default": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/default.jpg",
                    "width": 120,
                    "height": 90
                  },
                  "medium": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/mqdefault.jpg",
                    "width": 320,
                    "height": 180
                  },
                  "high": {
                    "url": "https://i.ytimg.com/vi/uw8hjVqxMXw/hqdefault.jpg",
                    "width": 480,
                    "height": 360
                  }
                },
                "channelTitle": "Mr History",
                "liveBroadcastContent": "none",
                "publishTime": "2021-08-29T10:13:10Z"
              }
            }
          ]
        }
  recorded_at: Tue, 14 Nov 2023 18:31:07 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=thailand
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_AUTH_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"63e16c92440aeda85915c75e00bad272"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24975'
      X-Ratelimit-Reset:
      - '1702435560'
      X-Server:
      - cat
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[{"id":2070485,"width":4000,"height":6000,"url":"https://www.pexels.com/photo/woman-wearing-blue-dress-with-umbrella-during-sunset-2070485/","photographer":"Oleksandr
        P","photographer_url":"https://www.pexels.com/@freestockpro","photographer_id":100512,"avg_color":"#5B4E37","src":{"original":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg","large2x":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=2\u0026h=650\u0026w=940","large":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=650\u0026w=940","medium":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=350","small":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026h=130","portrait":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=1200\u0026w=800","landscape":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026fit=crop\u0026h=627\u0026w=1200","tiny":"https://images.pexels.com/photos/2070485/pexels-photo-2070485.jpeg?auto=compress\u0026cs=tinysrgb\u0026dpr=1\u0026fit=crop\u0026h=200\u0026w=280"},"liked":false,"alt":"Woman
        Wearing Blue Dress With Umbrella during Sunset"},{"id":472309,"width":4000,"height":2250,"url":"https://www.pexels.com/photo/top-view-of-boats-on-beach-472309/","photographer":"Tirachard
        Kumtanom","photographer_url":"https://www.pexels.com/@tirachard-kumtanom-112571","photographer_id":112571,"avg_color":"#7E8E85","src":{"original":"https://images.pexels.com/photos/472309/pexels-photo-472309.jpeg","large2x":"https://images.pexels.com/photos/472309/pexels-photo-472309.jpeg?a[...]
[...]
