---
http_interactions:
- request:
    method: get
    uri: https://youtube.googleapis.com/youtube/v3/search?channelId=UCluQ5yInbeAkkeCndNnUhpw&key=<YOUTUBE_API_KEY>&maxResults=1&part=snippet&q=Nameofcountry&type=video
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "kind": "youtube#searchListResponse",
          "etag": "m1L0-TZ2o1cYN7U4le2FhxfBJtA",
          "regionCode": "US",
          "pageInfo": {
            "totalResults": 2,
            "resultsPerPage": 0
          },
          "items": []
        }
  recorded_at: Mon, 13 Nov 2023 21:23:14 GMT
- request:
    method: get
    uri: https://api.pexels.com/v1/search?per_page=10&query=Nameofcountry
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - "<PEXELS_AUTH_KEY>"
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"5cb3585f53d361d87a93bc28342a022b"
      X-Ratelimit-Limit:
      - '25000'
      X-Ratelimit-Remaining:
      - '24991'
      X-Ratelimit-Reset:
      - '1702435560'
      X-Server:
      - barracuda
    body:
      encoding: ASCII-8BIT
      string: '{"page":1,"per_page":10,"photos":[],"total_results":0}'
  recorded_at: Mon, 13 Nov 2023 21:23:15 GMT
recorded_with: VCR 6.2.0
